
.comment-text-container{
    padding: 1rem;
    margin: auto;
    box-shadow: var(--box-shadow2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    background-color: var(--secondary-color);
    font-size: 12px;
}

.comment-text-container input{
    height: 20%;
    padding: 1rem;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: var(--box-shadow3);
}

@media (min-width:40rem){
    .comment-text-container{
        width:40rem;
        font-size: 1rem;
    }
}