.comment {
  padding: 1rem;
  box-shadow: var(--box-shadow2);
  margin: 1rem;
  display: flex;
  border-top: 3px solid var(--primary-color);
  font-size: 12px;
  
}

.comment img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: var(--box-shadow3);
  padding-top: 6px;
}

.comment-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-option {
  display: flex;
  color: var(--primary-color);
  cursor: pointer;
  margin: 1rem 0;
}

.margin {
  margin: 0 1rem;
}

@media (min-width: 40rem) {
  .comment {
    width:40rem;
    font-size: 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
