.reply-text-container{
        width: 100%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
}

.reply-text-container input{
    box-shadow: var(--box-shadow3);
}