.home-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  overflow: hidden;
}

.home,
.home-img {
  width: 100%;
  height: 100%;
}

.home-img img {
  height: 100%;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-color2);
  width: 100vw;
}

.home-logo-text {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-logo-text div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-logo-text div h3 {
  margin: 10px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons button {
  height: 2.5rem;
  width: 6rem;
  border: 3px solid var(--primary-color);
  background: var(--secondary-color);
  margin: 1rem;
  cursor: pointer;
}

.buttons button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.home h1 span {
  color: var(--primary-color);
}

@media (min-width: 50rem) {
  .home-container {
    flex-direction: row;
  }
  .homm-img {
    width: 50%;
  }
  .home {
    width: 50%;
  }
  .buttons button {
    width:10rem
  }
}
