.edit-profile-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.edit-profile {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  width: 24rem;
  box-shadow: var(--box-shadow3);
}

.edit-profile > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.edit-profile h3 {
  margin-right: 1rem;
}

.avatar img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: var(--box-shadow3);
  padding-top: 6px;
}

.edit-profile button {
  width: 4rem;
  height: 2rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}
.edit-profile button:hover {
  background-color: var(--primary-color2);
}

.edit-profile > span {
  margin-left: auto;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

.website > textarea {
  height: 2rem;
  overflow: auto;
  border: none;
  outline: none;
  box-shadow: var(--box-shadow3);
  padding: 5px;
}
.bio > textarea {
  height: 5rem;
  overflow: auto;
  border: none;
  outline: none;
  box-shadow: var(--box-shadow3);
  padding: 5px;
}
