.input-text-container {
  padding: 1rem;
  width: 40rem;
  margin: auto;
  height: 12rem;
  box-shadow: var(--box-shadow2);
}

.input-text {
  display: flex;
  height: 100%;
  width: 100%;
}

.input-text img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: var(--box-shadow3);
  padding-top: 6px;
}

.input-text-text {
  height: 100%;
  width: 100%;
}

.input-text-text input {
  height: 60%;
  padding: 1rem;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: var(--box-shadow3);
}

.input-text-option {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

.input-text-option button {
  width: 4rem;
  border: none;
  height: 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}
.input-text-option button:hover {
  background-color: var(--primary-color2);
 
}
.input-text-option div {
  color: var(--primary-color);
  cursor: pointer;
}

.input-text-option div:hover {
    color: var(--primary-color2);
    
  }
